/* Index Page Css */

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}
  
.container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
  
/* Pollcard  */
.imagesize{
    width: 5%;
    height:5%;
    border-radius: 102px;
    
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

}
.mainheader{
    color: white;  
    background-color:gray;
    text-decoration: floralwhite;
    text-decoration-color: gainsboro;
}
.header{

    text-align: center;
    text-overflow: ellipsis;
}
.box{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-style: solid;
    width:50%;
    padding: 11px;
    border-color: lightgray;
    -ms-flex-align: center;
     margin-bottom: 10px;
     margin-top: 10px;
}
.formbox{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 19px;

    width:100%;
    padding: 11px;
    border-color: lightgray;
    -ms-flex-align: center;
     ;
}
.cell {
    border-style: solid;
    padding: 11px;
    
    height: 30%;
    align-items: center;
    border-color: lightgray;
    border-radius: 5px;
    margin-bottom: 5px;
}
.menuitem{
    width: 30%;
    height:30%

}
.score{
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: bold;
    color:white;
    background-color:crimson;
    padding: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
  }
  .vote{
    display: flex;
    justify-content: center;
    align-items:center;
     color:white;
    background-color:crimson;
    padding: 1rem;
    width: 75px;
    height: 25px;
   
    text-align: center;
    
  }
  .leader{
     display: flexbox;
     flex-flow: column; 
  }
  .leader-container {
    display: flex;
    align-items: stretch;
  }
  .leader-container > div {    
    
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .navigationbar{
      display: flexbox;
      background-color: darkgray;
      color:whitesmoke;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-around;
      
  }
  .item{
      display: flex;
  }